:root {
    --mainPrimaryColor: rgb(241, 130, 26);
    --secondFontColor: #fff;
    --fontPrimarySize: 1rem;
    --fontTitlesSize: 2rem;
    
    }

    /* Foto Responsive con botón*/

.header {
    width: 100%;
    position: relative;
}

.photoresp {
    width: 100%;
}

.container {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end
}

.contact {
    padding-bottom: 40px;
}

