:root {
--mainPrimaryColor: rgb(241, 130, 26);
--secondFontColor: #fff;
--fontPrimarySize: 1rem;
--fontTitlesSize: 2rem;

}

body{
    font-size: var(--fontPrimarySize);
}

h1{
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    font-size: var(--fontTitlesSize);
    padding: 10px;
    text-align: center;
    background-color: var(--mainPrimaryColor);
    color: var(--secondFontColor);
    margin-top: 10px;
}

