:root {
    --mainPrimaryColor: rgb(241, 130, 26);
    --secondFontColor: #fff;
    --fontPrimarySize: 1rem;
    --fontTitlesSize: 2rem;
    
    }

/*Menú hamburguesa*/

.menuhamburguer > img {
    width: 35px;
}

.menuhamburguer {
    position: absolute;
    right: 20px;
    top: 10px;
}

.checkhamburguer {
    display: none;
}

.checkhamburguer:checked ~ .menuPrincipal {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
} 