:root {
    --mainPrimaryColor: rgb(241, 130, 26);
    --secondFontColor: #fff;
    --fontPrimarySize: 1rem;
    --fontTitlesSize: 2rem;
    
    }

/*Barra de navegación*/

nav{
    background-color: var(--mainPrimaryColor);
    color: var(--secondFontColor);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuPrincipal{
    margin-left: 20px;
    display: none;
}

.linkNav{
    color: var(--secondFontColor);
    text-decoration: none;
    padding: 20px;
}

/*Citypocket.html*/

.back  img {
    width: 30px;
}

.back {
    position: absolute;
    left: 20px;
}

.proyect1 {
    display: none;
}

/*Menú hamburguesa*/

.menuhamburguer > img {
    width: 35px;
}

.menuhamburguer {
    position: absolute;
    right: 20px;
    top: 10px;
}

.checkhamburguer {
    display: none;
}

.checkhamburguer:checked ~ .menuPrincipal {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
} 

@media screen and (min-width: 840px){

    nav {
        justify-content: space-between;
    }

    .menuPrincipal{
        display: block;
    }

    .linkNav {
        margin-left: 20px;
        background-color: var(--mainPrimaryColor);
        color: var(--secondFontColor);
    }

    .linkNav:hover {
        background-color: var(--secondFontColor);
        color: var(--mainPrimaryColor);
        transition: all 0.3s linear;
    }

    .checkhamburguer {
        display: none;
    }

    .menuhamburguer {
        display: none;
    }

    /*CityPocket*/

    .back {
        display: none;
    }

    .proyect1 {
        display: inline;
    }
}